.image {
  width: 90%;
  margin-top: 100px;
  margin-left: 33px;

}

.line1 {
  	background-color: lightgray;
  	border-width: 6px;
  	border-style: solid;
  	border-color: gray;
  	border-right-color: black;
  	border-bottom-color: black;
    margin-top:120px;
    margin-bottom: 100px;
  }

  .toplink {
	background-color: none;
	bottom: 50px;
	margin-bottom: 20px;
  margin-right: 15px;
	padding: 0.5em 1em;
	right: 0;
  position: fixed;
}

a {
	text-decoration: none;
	font-family: Garamond, serif;
  color: black;
  text-align: center;
}

a:hover {
	color: #d3d3d3;
}

.header {
	position: fixed;
	z-index: 1;
	width: 97.5%;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.9);
	margin-bottom: 10px;
	font-family: Garamond;
  font-size: 10px;
	text-align: center;
}

.left {
  position: fixed;
	float: left;
	margin-top: 100px;
	width: 10%;
	height: 100%px;
	background-color: white;
	margin-bottom: 10px;
  padding: 20px 20px 20px 20px;
}

.right {
	position: relative;
	float: center;
	margin-top: 50px;
  margin-left: 200px;
	height: 100%;
	background-color: white;
	margin-bottom: 10px;
  width: 700px;
  margin: 0px auto;
}

.inline{
  display: flex;
  flex-direction: row;
  height: 50%;
}


#footer {
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
	height: 40px;
  width: 100%;
	background-color: white;
	font-family: Garamond;
	font-size: 14px;
	text-align: center;
	color: black;
  padding-top: 15px;
}

.nav {
  list-style: none;
  text-align: left;
}

.books{
  position: relative;
	float: right;
  margin-top: 70px;
  width: 80%;
  margin-bottom: 50px;
  margin-right: 60px;
  margin-top: 50px;
}

.photos {
position: relative;
float: right;
margin-top: 70px;
width: 80%;
margin-bottom: 50px;
margin-right: 60px;
margin-top: 50px;
}

p {
  text-align: left;
  margin-top: 100px;
}

#rotate {
 transition: transform 0.7s;
}

#rotate:hover {
 transform: rotate(360deg);
}
#io {
 transition: transform 0.7s;
}

#io:hover {
 transform: scale(5.5, 5.5);
}
#translate {
 transition: transform 0.7s;
}

#translate:hover {
 transform: translate(500px, 0px);
}


#scale {
   transition: transform 0.7s;
}

#scale:hover {
   transform: scale(0.9, 0.9);
}

.opacity {
 transition: filter 0.9s;
}

.opacity:hover {
 filter: opacity(30%);
}
#scaleout {
   transition: transform 0.7s;
}

#scaleout:hover {
   transform: scale(1.1, 1.1);
}

.about {
  color: white;
  border-width: 6px;
  border-style: solid;
  border-color: gray;
  border-right-color: black;
  border-bottom-color: black;
  width: 500px;
  height: 500px;
  margin-top: 50px;
  margin-left: 50px;
}
